{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Remember Event App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'home.css' %}">
    </head>
    <body>
        <h1>Remember Event App</h1>
        <a href="/create">Remember Events</a>
        <br>
        <a href="/events">View All Events</a>
    </body>
</html>