<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remember Event</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class='container'>
        <h1>Remember Event App</h1>
        <form action="{% url 'remember_event' %}" method="post">
            {% csrf_token %}
            <label>Receiver:</label>
           <input type="email" name="email" placeholder="Email address" required>
           <br>
           <label>Set the date to send:</label>
           <input type="datetime-local" name="scheduled_datetime"required>
           <br>
           <label>Subject:</label>
           <input type="text" name="title" placeholder="title of email" required>
           <br>
           <label>Message:</label>
           <textarea name="message" placeholder="message to be delivered" required></textarea>
            <br>
            <button type="submit">send</button>
        </form>
    </div>
    
</body>
</html>
