/* ImageUpload.css */
body{
    background-color: #EEF5FF;
    align-items: center;
    margin-left: 25%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

input{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 50%;
    height: 50%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #d3e2f4;
    transition: border-color 0.2s;
}    
  
  .button {
    margin-top: 10px;
    text-align: center;
    background-color: #176B87;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }
  .button:hover {
    background-color: #28a4b7; /* Darker shade of green */
  }
  .uploaded-image {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 50%;
      height: 50%;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

.prediction-result{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    height: 50%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #d3e2f4;
    transition: border-color 0.2s;
}